/*---- reset css---*/
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    
    
}
/*------*/

header{ 
    margin:3vw auto;
    display: flex;
    position: relative;
    top: 0;
    max-width: 76%;
    justify-content: space-between;
    align-items: flex-end;
}
.title{
    margin: 1vw 0.5vw 0 0.5vw;
    border-bottom: 1px solid grey;
    
}
.title h1{
    border-left: 1px solid grey;
    padding-left: 0.5vw;
}
.title h2{
    padding-left: 0.5vw;
}

a{ text-decoration: none;}
.title a:visited{ text-decoration: none;
                    color: black}

header ul{ 
    display: flex;
    justify-content: space-between;   
}

header li{
    list-style: none;
    margin: 1vw 0.5vw 0 0.5vw;
    border-right: 1px solid grey;
    padding-right: 0.5vw;
}

main{ 
    width: 90vw;
    height: auto;   
    
    
}


article{
    width: 100%;
    
}

section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: space-around;
    margin-top: 0;
    
    
  
}


section div{
    margin: 1vw auto ;
    border-left: 1px solid black;
    max-height:4vh;
    width:90%;
    vertical-align:middle;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

section p{
    margin-left: 1vw;
}

section ul{
    list-style: none;
   display: inline-flex;
}
section li{
    margin: 1vw;
}

section li i{
    font-size:2rem;
}


footer{
    position:absolute;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    width: 95%;
    margin: auto ;
    display: flex;
    justify-content: space-between;
    border-top: 5px solid black;
    z-index: 3;
}


footer h3{
    margin-top: 1vw;
}
footer i{
    margin: 0.5vw;
    font-size: 2rem;
}
footer a:visited{ text-decoration: none;
    color: black}

@media ( max-width:900px ) { html { font-size: 0.9rem;}
                        main section { font-size: 16px;}  
                        section div{ margin:  3vw auto;}
                        h2 {font-size: 1.4rem;} 
        
    #about{
        display: flex;
        flex-flow: column nowrap;
        justify-items: center;
    }        
       
    .figure{
        margin: 12vw auto;
    }

    #footer{
        position:absolute;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    
   
                        
                        
}

@media (min-width:300px) and (max-width:700px) {
    header{
        flex-direction: column;
        justify-items: center;
        }

    .title{
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 0;
        justify-content: center;

    }
    header nav{
        margin: 2vh auto;
    }
    nav li{
        margin-right: 1vw;
        padding-right: 0.7vw;
        font-size: 0.95rem;
    }
    section div{ margin:  3vw auto;}
    main { height: 75%; } 

    .figure{
        margin: 10vw auto auto auto ;
    }


    h2{font-size: 1.3rem;}
    
     #img{
        width: 300px;
        height: 200px;
       object-fit: contain;
        border-radius: 20px;
    }
    
  #contact .socials{
    flex-flow: column nowrap;
  }

  #msg{
    margin-top: 10vw;
    
  }
    
   

    
  
}
/*------About me--------*/

.about {
    display: flex;
    flex-flow: row nowrap ;
}

.about article{
    margin-right: 3vw;
}


  

 .img{
    width: 600px;
    height: 400px;
    object-fit: fill;
    border-radius: 20px;
}


/*--------Contact-----------*/

.contact .socials{
    
    width : 80%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials i{
    font-size: 8rem;
}

.contact{
    height: 90%;
    display: flex;
    flex-flow: column nowrap;
    
}

.message{
    margin-top: 5vw;
}