/*---- reset css---*/
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    
    
}
/*------*/

header{ 
    margin:3vw auto;
    display: flex;
    position: relative;
    top: 0;
    max-width: 76%;
    justify-content: space-between;
    align-items: flex-end;
}
.title{
    margin: 1vw 0.5vw 0 0.5vw;
    border-bottom: 1px solid grey;
    
}
.title h1{
    border-left: 1px solid grey;
    padding-left: 0.5vw;
}
.title h2{
    padding-left: 0.5vw;
}

a{
    text-decoration: none;
}

header ul{ 
    display: flex;
    justify-content: space-between;   
}

header li{
    list-style: none;
    margin: 1vw 0.5vw 0 0.5vw;
    border-right: 1px solid grey;
    padding-right: 0.5vw;
}

main{ 
    width: 90vw;
    margin: 10vw auto 5vw auto;
    height: auto;
    
}
article{
    width: 100%;
    margin-bottom: 5vw;
}

section{
    width: 100%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: space-around;
    margin-top: 1vw;
    
  
}


section div{
    margin: 1vw auto ;
    border-left: 1px solid black;
    max-height: 5vh;
    width:90%;
    vertical-align:middle;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

section p{
    margin-left: 1vw;
}

section ul{
    list-style: none;
   display: inline-flex;
}
section li{
    margin: 1vw;
}

section li i{
    font-size:2rem;
}


footer{
    width: 95%;
    margin: auto ;
    display: flex;
    position: relative;
    justify-content: space-between;
    
    border-top: 5px solid black;
}
footer h3{
    margin-top: 1vw;
}
footer i{
    margin: 0.5vw;
    font-size: 2rem;
}

@media ( max-width:800px ) { html{ font-size: 0.9rem;}
                        main section{ font-size: 16px;}  
                        h2{font-size: 1.4rem;} 
}

@media (max-width:700px) {
    header{
        flex-direction: column;
        justify-items: center;
        
    }


    .title{
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 0;
        justify-content: center;

    }
    header nav{
        margin: 2vh auto;
    }
    nav li{
        margin-right: 1vw;
        padding-right: 0.7vw;
        font-size: 0.95rem;
    }
    main{
        
        height: 80%;
    }
    h2{font-size: 1.3rem;}

    
}
    