/*---- reset css---*/
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    
    
}
/*------*/

header{ 
    margin:3vw auto;
    display: flex;
    position: relative;
    top: 0;
    max-width: 76%;
    justify-content: space-between;
    align-items: flex-end;
}
.title{
    margin: 1vw 0.5vw 0 0.5vw;
    border-bottom: 1px solid grey;
    
}
.title h1{
    border-left: 1px solid grey;
    padding-left: 0.5vw;
}
.title h2{
    padding-left: 0.5vw;
}

nav h3:hover {
       
    box-shadow: -1px 1px 1px black;
    margin-left: 0.1px;
  }

  footer a:hover {
      border-radius: 5px; 
    box-shadow: 1px 2px 3px black;
    margin-left: 0.1px;
  }

a{ text-decoration: none;}
a:visited{ text-decoration: none;
                    color: black}

header ul{ 
    display: flex;
    justify-content: space-between;   
}

header li{
    list-style: none;
    margin: 1vw 0.5vw 0 0.5vw;
    border-right: 1px solid grey;
    padding-right: 0.5vw;
}

main{ 
    width: 90vw;
    height: auto;   
    
    
}


article{
    width: 100%;
    
}

section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: space-around;
    margin-top: 0;
    
    
  
}


section div{
    margin: 1vw auto ;
    border-left: 1px solid black;
    max-height:4vh;
    width:90%;
    vertical-align:middle;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

section p{
    margin-left: 1vw;
}

section ul{
    list-style: none;
   display: inline-flex;
}
section li{
    margin: 1vw;
}

section li i{
    font-size:2rem;
}

section a:hover {
     border-radius: 1px;   
    box-shadow: 1px 1px 1px black;
    margin-left: 1px;
  }

footer{
    position: absolute;
        bottom: 0;
        margin:auto;
        left: 0;
        right: 0;
         width: 95%;
    
    display: flex;
    justify-content: space-between;
    border-top: 5px solid black;
    
}


footer h3{
    margin-top: 1vw;
}
footer i{
    margin: 0.5vw;
    font-size: 2rem;
}
footer a:visited{ text-decoration: none;
    color: black}

@media ( max-width:900px ) { html { font-size: 0.9rem;}
                        main section { font-size: 16px;}  
                        section div{ margin:  3vw auto;}
                        h2 {font-size: 1.4rem;} 
        
    #about{
        display: flex;
        flex-flow: column nowrap;
        justify-items: center;
        
    }    
    
    .about{
        margin: 10vh auto;
    }
       
    .figure{
        margin: 12vw auto;
    }

    #footer{
        position:absolute;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    
   
                        
                        
}

@media (min-width:300px) and (max-width:700px) {
    header{
        flex-direction: column;
        justify-items: center;
        }

    .title{
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 0;
        justify-content: center;

    }
    header nav{
        margin: 2vh auto;
    }
    nav li{
        margin-right: 1vw;
        padding-right: 0.7vw;
        font-size: 0.95rem;
    }
    section div{ margin:  3vw auto;}
    main { height: 75%; } 

    .figure{
        margin: 10vw auto auto auto ;
    }


    h2{font-size: 1.3rem;}

    #about{
        margin: auto;
    }
    
     #img{
        width: 300px;
        height: 200px;
       object-fit: contain;
        border-radius: 20px;
    }

    #contact{
        display: flex;
        flex-flow: column nowrap;
        align-content: space-between;
    }
    
  #contact .socials{
    flex-flow: column wrap;

  }
  #socials i{
    font-size: 4rem;
    margin: 1.5vh auto;
}
    

    #form {
        margin:3vh auto auto auto;
    }
        /*----projects------*/
        #projects{
            
            height: 70vh;
            display: grid;
            grid-template-rows: repeat(8, 1fr);
            grid-template-columns: 1fr;
            gap: 2vh;
            overflow: auto;
            padding: auto;}
  
            #credit { grid-area: 1/1/2/2;}
            #organism{grid-area: 2/1/3/2;}
            #mixed{grid-area: 3/1/4/2;}
            #vandelay{grid-area: 4/1/5/2;}
            #club{grid-area: 5/1/6/2 ;}  
            #arts{grid-area: 6/1/7/2;}
            #tea{grid-area: 7/1/8/2 ;}
            #fotomatic{grid-area: 8/1/9/2; }    

           .projects a:visited{ text-decoration: none;
                color: black}           
            #projects img{
        
                width: 75vw;
                height: 10vh;
                object-fit: cover;
            }
            
          
            

}
/*------About me--------*/

.about {
    
    display: inline-flex;
    flex-flow: row nowrap ;
    align-items: center;
    margin: auto;
}

.about article{
    margin-right: 3vw;
}


.about a:hover {
    border-radius: 1px;   
   box-shadow: 1px 2px 3px black;
   
 }

 .img{
    width: 600px;
    height: 400px;
    object-fit: fill;
   

}





/*--------Contact-----------*/

.contact .socials{
    
    width : 80%;
    margin: 2vh auto;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials i{
    font-size: 8rem;
}

.contact{
    height: auto;
   
  display: flex;
  flex-direction: column;
  align-content: space-between;
   
    
    
}

.contact i:hover{
    background-color: transparent;
    border-radius: 5px;
      position:static; 
    box-shadow: 1px 1px 1px black;
    margin-left: 0.01px;
  }

    form{
    
    margin: 10vh auto auto auto;
    width: fit-content;
    
    }
    form h4, input, textarea{
   
    width: fit-content;
    margin: auto ;
    }

   /*-----Projects------*/
   
   .projects{
    
    height: 70vh;
    display: grid;
    grid-template: repeat(3, 1fr)/ repeat(6, 1fr);
    gap: 1vh;
    overflow: auto;
    padding: auto;
    
    
   }
     .projects div{
        
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgb(233, 227, 227);
        font-weight: bold;
        border-radius: 5px;
        
    }

    #projects div:hover {
        
        box-shadow: 1px 2px 3px black;
        margin-left: -0.01px;
      }

    .credit { grid-area: 1/1/2/3;}
    .organism{grid-area: 1/3/2/5;}
    .mixed{grid-area: 1/5/2/7;}
    .vandelay{grid-area: 2/1/3/3;}
    .club{grid-area: 2/3/3/5 ;}  
    .arts{grid-area: 2/5/3/7;}
    .tea{grid-area: 3/2/4/4 ;}
    .fotomatic{grid-area: 3/4/4/6; }    
    
    

    .projects img{
        
        width: 26vw;
        height: 20vh;
        object-fit: cover;
       
    }

    /*-----Dynamic-Javscript pages ------*/

    .tab{
        
        width: 90vw;
        height: 70vh;
        display: grid;
        position: relative;
        margin: auto ;
        grid-template-areas: "left right";
        grid-template-columns: 1fr 3fr;
        
    }
    
    .tab .lefttab, aside {
        
    }
    .tab h3{
        margin: auto;
        text-align: center;
       
    }

    .lefttab {
        grid-area: left;
        display: grid;
     
    }
    
 .righttab{
    grid-area: right;
    padding: 1vw;
    overflow: auto;
}

.jscontainer{
    display: grid;
    width:100%;
    height:100%;
    grid-template-areas: "theName"
                        "core"
                        "hubs";          
    grid-template-rows: 1fr 5fr 1fr ;              
}
.thename{grid-area: theName ; 
        border: ;
        margin: auto;}

.jscontent{grid-area: core;
     
   display: grid;
   
   
   
    
}

.files{grid-area: hubs; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
.files i{font-size: 3rem;}
.files .fab{margin: auto;}
.lefttab a:hover, .files a:hover {
    border-radius: 1px;   
   box-shadow: 1px 1px 1px black;
   margin-top: -1px;
 }



 .table{
    margin: auto;
    display: flex;
 }
 
 .table div{
    margin:auto 1vw;
 }
 

  .pext{
    width: 80%;
    height:auto;
    margin: auto;
    font-size: larger;
    
 }
   .anchor{
    text-decoration: underline;
 }
 @media (min-width:300px) and (max-width:700px){
    .table{
        display: flex;
        flex-flow: column nowrap;
        

    }
    .table div{
        margin-top: 0.6vh;
    }
     #pext{
        font-size: normal;
        width: auto;
        height: auto;
        margin: auto 1.2vw 1vw 1.2vw;
        font-size: 1rem;
    }
    h4{
        display: none;
        
    }
 }

 fieldset {
    background-color: #eeeeee;
    display: flex;
    justify-content: space-around;
    
  }

  fieldset div{
    margin: auto;
  }

  .mixInputs{
    
  }

  .mixInputs input{
    margin: 0.5vh;
  }
  .quoText {
    width: 90%;
    height: 6vh;
    text-align: center;
    margin: auto;
  }

  .quoText h3{
    border: 3px dotted grey;
    width: auto;
    height: auto;
  }
  
  .mixdP{
    text-align: center;
    font-size: 1.2rem;
    background-color: beige;
    margin: auto;
}
    
  .mixGame{
   display: grid;
   grid-template-rows: 0.3fr 0.3fr 1fr 0.7fr 0.7fr ;
   gap: 1vh;
 }
 
 #quote1{
    font-weight: bold;
    background-color:beige;
    margin:  auto;}

    /*--------------Mysterious Organism---------------------*/

.dnaCore{
    
    display: grid;
    grid-template-rows: 1fr 0.4fr 1.2fr 0.4fr;
    grid-template-columns: 1fr;
    gap: 1vh;
    
}

.dnaCore section{
    
    width:98%;
    margin-left: auto;
    margin-right: auto;
      
}

.inits input{
    text-align: center;
    width:150px;
}

.genStr {
   display: flex;
   
   align-items: center;
}

.genStr p{
    
     width:180px;
     height: 20px;
    color: gray;
    text-align: center;
}

.dnaOutput{
    width: 190px;
    text-align: center;
}

.dnaText{
    margin: auto;
}